@use 'imports' as *;

.advantages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  width: 100%;

  @include breakpoint($mobile-bp){
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: unset;
  }
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;

  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  transition: all .3s ease-in-out;
  &:hover{
    background-color: #3a6ca5;
    * {
      color: white;
      stroke: white;
    }
  }
}

.advantages-item__icon {
  height: 7rem;
  width: 7rem;
  color: #3a6ca5;

  *{
    stroke: #3a6ca5;
  }
}

.advantages-header {
  text-align: center;
  margin-bottom: 2rem;

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
  }
}