@use 'imports' as *;

.container {
    max-width: $max-width-container;
    margin: 0 auto;
}

.container-outer {
    background-position: center center;
    background-size: cover;
    margin: 4rem 0;
    box-sizing: border-box;

    &--full-screen {
        min-height: 100vh;
    }

    &--centered-vertical {
        display: flex;
        align-items: center;
    }

    &--centered-horizontal {
        display: flex;
        justify-content: center;
    }

    &--stretch-content{
        .container{
            width: 100%;
        }
    }

    &--pd{
        padding: 6rem 0rem;
        //border-top: #3D3D3D solid 1px;
    }

    &--margin-top-0{
        margin-top: 0;
    }

    &--margin-none{
        margin: 0;
    }
}
