@use 'imports' as *;

.form-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;

  min-height: 50vh;

  @include breakpoint($mobile-bp){
    display: block;
    min-height: unset;
    padding-bottom: 2rem;
  }
}

.form-block__image{
  background-image: url(/images/diz.webp);

  @include breakpoint($mobile-bp){
    display: none;
  }
}

.form-block__form{
  padding: 2rem;
  background: rgba($color: $main-color, $alpha: 1);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  justify-content: center;

  color: white;
}