@use 'imports' as *;

nav {
  display: flex;
  width: $max-width-container;
  color: white;
  text-transform: uppercase;
  gap: 2rem;
  //justify-content: flex-start;
  padding: .5rem 0;

  a{
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  @include breakpoint($mobile-bp) {
    flex-direction: column;
    gap: 1rem;

    * {
      text-align: center;
    }

    a {
      background-color: $main-color;
      padding: 1rem 1rem;


    }
  }
}

.menu-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: $main-color;

  display: flex;
  justify-content: center;

  @include breakpoint($mobile-bp) {
    position: unset;
    background-color: unset;
  }
}

.open-menu-button{
  position: fixed;
  top: 1rem;
  right: 1rem;

  background-color: $main-color;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  *{
    color: white;
  }
}

.menu-container__icon{
  object-fit: contain;
}

.menu-containeer__circle-list{
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-right: 3rem;
}

.menu-containeer__circle{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  content: '';

  &--blue{
    background-color: #15B5EE;
  }

  &--green{
    background-color: #34CC66;
  }

  &--yellow{
    background-color: #FCCD13;
  }
}