@use 'imports' as *;

.product-card {
  background-color: $light-grey;

  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 30rem;


}

.product-card__content {
  padding: 2rem;
}

.product-card__image {
  width: 30rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}