@use 'imports' as *;

.vertical-card {
  display: grid;
  grid-auto-rows: 2fr 1fr;

  &:nth-child(odd) {

    .vertical-card__text {
      background-color: #3A6CA5;
    }
  }

  a {
    text-decoration: underline;
  }
}

.vertical-card__text {
  display: grid;
  grid-auto-columns: auto;
  gap: 1rem;

  padding: 1rem;

  background-color: #27A9D4;
  color: white;

  h3{
    font-size: 1.3rem;
  }
}

.vertical-card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;

}