@use 'imports' as *;

.vertical-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include breakpoint($mobile-bp){
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: unset;
    gap: 1rem;
  }
}