@use 'imports' as *;

.vertical-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include breakpoint($mobile-bp){
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: unset;
    gap: 1rem;
  }

  &--horizontal{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    .vertical-card{
      display: grid;
      grid-template-columns: 1.3fr 1.5fr;

      .vertical-card__text {
        display: flex;
        flex-direction: column;

        a{
          margin-top: auto;
        }
      }
    }
  }
}