@use '@/components/imports/imports' as *;

.about-us-block {
  text-align: center;

  h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

.container--header-main{
  margin: 0;
  color: white;
  background: linear-gradient(90deg, #1E2035 0%, #C6D7EB 100%);
}